*{
    margin: 0;
    padding: 0;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_top_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 25px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-telechargement {
    border-radius: 100px;
    height: 60px;
    border: none;
    width: 200px;
    color: white;
    background-color: #ff0000;
    font-family: Oswald;
    transition: background-color 0.3s ease;
}

.button-telechargement:hover {
    background-color: #ff4d4d;
}

.button-telechargement:active {
    background-color: #b30000;
}


.other-countries-button {
    border-radius: 50px;
    width: 150px;
    border: none;
    color: white;
}

.snip1325 {
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 255px;
    max-width: 315px;
    height: 220px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  .snip1325 img {
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
  }
  .snip1325:hover img,
  .snip1325.hover img {
    -webkit-transform: translateX(130px);
    transform: translateX(130px);
  }
  /* Demo purposes only */
  body {
    background-color: #212121;
  }

  @media (max-width: 768px) {
    .navbar {
      padding: .5rem 1rem;
    }
    .navbar-brand img {
      width: 120px;
    }
  }